<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Account</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<form method="post" action="/add-account">
    <input class="newItem" name="name" type="text" placeholder="Name" required>
    <input class="newItemNum" name="balance" type="number" min="0" step="0.5" placeholder="Balance" required>
    <input class="newItem" name="animalType" type="text" placeholder="Type of Animal" required>
    <button class="addButton">Add New Account</button>
</form>

</body>
</html>
