<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Details of Account</title>
</head>
<body>
<form method="get" action="/show">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Balance</th>
            <th>Animal Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bankaccount : ${bankaccount}">
            <td th:text="${bankaccount.getName()}"></td>
            <td th:text="${bankaccout.getBalance()}"></td>
            <td th:text="${bankaccount.getAnimalType()}"></td>
        </tr>
        </tbody>
    </table>
</form>

</body>
</html>
