<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Details of Account</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<form method="get" action="/show">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Animal Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bankaccount : ${account}">
            <td th:text="${bankaccountStat.count}"></td>
            <td th:text="${bankaccount.getName()}"></td>
            <td class="balance" th:text="${bankaccount.getBalanceWithCurrency()}"></td>
            <td th:text="${bankaccount.getAnimalType()}"></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>
