<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
</head>
<body>
<h1>ToDos for today:</h1>
<a href="/add">Add new todo</a>
<form method="get" action="/">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>What to Do</th>
                <th>Done</th>
                <th>Urgent</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.getID()}"></td>
                <td th:text="${todo.getTitle()}"></td>
                <td th:text="${todo.isDone()}"></td>
                <td th:text="${todo.isUrgent()}"></td>
                <td><a th:href="@{/{id}/delete(id=${todo.getID()})}">Delete</a></td>
            </tr>
        </tbody>
    </table>
</form>
</body>
</html>
