<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
</head>
<body>
<h1>ToDos for today:</h1>
<form method="get" action="search">
    <input type="text" name="search" placeholder="Search">
    <input type="submit" value="Find ToDo!">
</form>
<a href="/assignees/">List of Assignees</a>
<a href="/add">Add new todo</a>
<form method="get" action="/">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>What to Do</th>
                <th>Done</th>
                <th>Urgent</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todoo : ${todo}">
                <td th:text="${todoo.getId()}"></td>
                <td th:text="${todoo.getTitle()}"></td>
                <td th:text="${todoo.isDone()}"></td>
                <td th:text="${todoo.isUrgent()}"></td>
                <td><a th:href="@{/{id}/delete(id=${todoo.getId()})}">Delete</a></td>
                <td><a th:href="@{/{id}/edit(id=${todoo.getId()})}">Edit</a></td>
            </tr>
        </tbody>
    </table>
</form>
</body>
</html>
