<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
</head>
<body>
<form method="get" action="/">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>What to Do</th>
                <th>Done</th>
                <th>Urgent</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.getID()}"></td>
                <td th:text="${todo.getTitle()}"></td>
                <td th:text="${todo.done()}"></td>
                <td th:text="${todo.isUrgent()}"></td>
            </tr>
        </tbody>
    </table>
</form>
</body>
</html>
