* {
    background-color: lightgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    background-color: white;
    color: aqua;
    border-bottom: 2px solid aqua;
    margin-top: 30px;
    margin-right: 18px;
    padding-top: 30px;

}

p {
    background-color: white;
    color: tomato;
    margin-bottom: -1px;
}

div {
    background-color: white;
    border-color: black;
    border-width: 2px;
    padding-left: 20px;
    display: block;
    width: 560px;
    border-radius: 3px;
    margin: 50px auto;
}

div1 {
    background-color: white;
}

.sortButton {
    background-color: tomato;
    border: 2px solid tomato;
    color: white;
    border-radius: 5px;
}

.button {
    background-color: tomato;
    border: 3px solid tomato;
    color: white;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
}

button:hover {
    opacity: 0.5;
}

input {
    background-color: white;
    border-color: tomato;
    border-radius: 5px;
    border: 3px solid tomato;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 45.5%;
    font-size: 20px;
}

table {
    margin-top: 20px;
    background-color: white;
    border-spacing: 2px;
    border: 1px solid white;
}

th, td{
    background-color: white;
    width: 111.5px;
    padding: 10px;
    border: 1px solid white;
}

th {
    background-color: aqua;
    text-align: center;
}

.number {
    text-align: center;
}
